.animation-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

/* Styles for the images */

.intro__figure {
  max-height: 250px;
  position: fixed;
  bottom: 0;
}

.intro__figure--left {
  animation: move-left 0.7s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  left: 0;
  bottom: 12%;
  transform: translateX(-50%) scale(1);
  max-width: 35vw;
}

.intro__figure--right {
  animation: move-right 0.7s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  right: 0;
  bottom: 12%;
  transform: translateX(50%) scale(1);
  max-width: 35vw;
}

@keyframes move-right {
  from {
    right: 50%;
    bottom: 50%;
    max-width: 48vw;
    transform: translate(100%, 50%);
  }

  to {
    right: 0;
    bottom: 12%;
    max-width: 35vw;
    transform: translateX(50%);
  }
}

@keyframes move-left {
  from {
    left: 50%;
    bottom: 50%;
    max-width: 48vw;
    transform: translate(-100%, 50%);
  }

  to {
    left: 0;
    bottom: 12%;
    max-width: 35vw;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 420px) {
  .intro__figure {
    max-height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .intro__figure {
    max-height: 450px;
  }

  .intro__figure--left,
  .intro__figure--right {
    bottom: 5%;
  }
}

@media screen and (min-width: 1400px) {

  .intro__figure--left,
  .intro__figure--right {
    transform: translateX(0);
  }

  @keyframes move-right {
    from {
      right: 50%;
      bottom: 50%;
      transform: translate(100%, 50%);
    }

    to {
      right: 0;
      bottom: 5%;
      transform: translateX(0);
    }
  }

  @keyframes move-left {
    from {
      left: 50%;
      bottom: 50%;
      transform: translate(-100%, 50%);
    }

    to {
      left: 0;
      bottom: 5%;
      transform: translateX(0);
    }
  }
}

@media screen and (min-width: 1700px) {
  .intro__figure--left {
    left: 50px
  }

  .intro__figure--right {
    right: 50px
  }

  @media screen and (orientation: landscape) {
    .intro__figure {
      max-height: 50%;
    }
  }

  @keyframes move-right {
    from {
      right: 50%;
      bottom: 50%;
      transform: translate(100%, 50%);
    }

    to {
      right: 50px;
      bottom: 5%;
      transform: translateX(0);
    }
  }

  @keyframes move-left {
    from {
      left: 50%;
      bottom: 50%;
      transform: translate(-100%, 50%);
    }

    to {
      left: 50px;
      bottom: 5%;
      transform: translateX(0);
    }
  }
}

/* Styles for the scroll indicator */

.scroll-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  animation: fade-out 1s linear;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  transform: rotate(180deg);
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.scroll-indicator__arrow {
  position: absolute;
  width: 1.4rem;
  height: 0.2rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-arrow 3s ease-out infinite;
}

.scroll-indicator__arrow:first-child {
  animation: move-arrow 3s ease-out 1s infinite;
}

.scroll-indicator__arrow:nth-child(2) {
  animation: move-arrow 3s ease-out 2s infinite;
}

.scroll-indicator__arrow:before,
.scroll-indicator__arrow:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #D35F5F;
}

.scroll-indicator__arrow:before {
  left: 0;
  transform: skewY(30deg);
}

.scroll-indicator__arrow:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-arrow {
  25% {
    opacity: 1;
  }

  33.3% {
    opacity: 1;
    transform: translateY(1.8rem);
  }

  66.6% {
    opacity: 1;
    transform: translateY(2.9rem);
  }

  100% {
    opacity: 0;
    transform: translateY(4.2rem) scale(0.5);
  }
}

@media screen and (min-width: 1024px) {
  .scroll-indicator {
    transform: rotate(0);
    bottom: 25%;
  }
}
