/* Styles for the header */

.script__header {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  position: sticky;
  top: 60px;
  z-index: 1;
  margin-bottom: 2rem;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.082));
}

.script__heading {
  font-size: x-large;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 600;
  color: #D35F5F;
  align-self: center;
  margin: 1rem 0 0 1.5rem;
}

@media screen and (min-width: 769px) {
  .script__header {
    filter: none;
    max-width: 800px;
    justify-content: space-between;
    top: 80px;
    margin: 0 calc((100% - 800px) / 2);
    padding-top: 4rem;
  }

  .script__heading {
    font-size: xx-large;
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}

/* Styles for the progress bar */

.script__progress-bar {
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.script__progress-fill {
  background-color: #D35F5F;
  align-self: start;
  height: 7px;
}

.script__progress-value {
  width: 100%;
  margin: 0;
  align-self: end;
  margin-right: 1rem;
  text-align: right;
}

/* Styles for the script */

.convo__bubble {
  width: 240px;
  height: auto;
  display: block;
  background: #FFF;
  margin: 0 0 35px;
  padding: 1.5rem;
  font-family: 'Alumni sans', sans-serif;
  font-size: x-large;
  position: relative;
  scroll-margin-top: 180px;
}

.child {
  align-self: start;
  border-radius: 20px 20px 20px 0;
}

.neutral {
  filter: drop-shadow(0px 0px 5px #818181);
}

.adult {
  align-self: end;
  border-radius: 20px 20px 0 20px;
  text-align: right;
}

.incorrect {
  filter: drop-shadow(0px 0px 5px #D35F5F);
  color: #D35F5F;
}

.correct {
  filter: drop-shadow(0px 0px 5px #266500);
  color: #266500;
}

.convo__feedback {
  font-family: 'Alumni sans', sans-serif;
  font-size: x-large;
  text-align: center;
  box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5rem;
  width: 90%;
  margin: 0 0 35px;
}

.false {
  background: #FFD2D2;
}

.true {
  background: #C7E9B2;
}

/* Styles for the images */

.convo__figure {
  max-height: 250px;
  max-width: 35vw;
  position: fixed;
  bottom: 0;
}

.convo__figure--left {
  left: 0;
  bottom: 12%;
  transform: translateX(-50%);
}

.convo__figure--right {
  right: 0;
  bottom: 12%;
  transform: translateX(50%);
}

@media screen and (min-width: 420px) {
  .convo__figure {
    max-height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .convo__figure {
    max-height: 450px;
  }

  .convo__figure--left,
  .convo__figure--right {
    bottom: 5%;
  }
}

@media screen and (min-width: 1400px) {

  .convo__figure--left,
  .convo__figure--right {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1700px) {
  .convo__figure--left {
    left: 50px
  }

  .convo__figure--right {
    right: 50px
  }
}
