/* Styles for the header */

.script__header {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 2rem;
  filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.082));
}

.script__back-section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.script__heading {
  font-size: x-large;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 600;
  color: #D35F5F;
  align-self: center;
  margin: 1rem 1rem 1rem 1.5rem;
}

@media screen and (min-width: 550px) {
  .script__heading {
    font-size: xx-large;
  }
}

@media screen and (min-width: 769px) {
  .script__header {
    border-bottom: 1px solid black;
    filter: none;
    max-width: 800px;
    justify-content: space-between;
    top: 80px;
    margin: 0 calc((100% - 800px) / 2);
    padding-top: 2rem;
  }

  .script__heading {
    margin-bottom: 2rem;
    margin-right: 1rem;
  }
}

/* Styles for the progress bar */

.script__progress-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.script__progress-fill {
  background-color: #D35F5F;
  align-self: start;
  height: 7px;
}

.script__progress-value {
  width: 100%;
  margin: 0;
  align-self: end;
  margin-right: 1rem;
  text-align: right;
}

/* Styles for the script */

.script__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  scroll-margin-top: 100px;
  padding: 0 18%;
  margin-top: 50vh;
  margin-bottom: 50px;
}

@media screen and (min-width: 769px) {
  .script__container {
    width: 100%;
    margin-bottom: 80px;
  }
}

/* Styles for the images */

.convo__figure {
  max-height: 250px;
  max-width: 35vw;
  position: fixed;
  bottom: 0;
}

.convo__figure--left {
  left: 0;
  bottom: 12%;
  transform: translateX(-50%);
}

.convo__figure--right {
  right: 0;
  bottom: 12%;
  transform: translateX(50%);
}

@media screen and (min-width: 420px) {
  .convo__figure {
    max-height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .convo__figure {
    max-height: 450px;
  }

  .convo__figure--left,
  .convo__figure--right {
    bottom: 5%;
  }
}

@media screen and (min-width: 1400px) {

  .convo__figure--left,
  .convo__figure--right {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1700px) {
  .convo__figure--left {
    left: 50px
  }

  .convo__figure--right {
    right: 50px
  }
}

@media screen and (orientation: landscape) {
  .convo__figure {
    max-height: 50%;
    bottom: 10%;
  }
}

.scroll-element {
  scroll-margin-top: 115px;
}

@media screen and (min-width: 769px) {
  .scroll-element {
    scroll-margin-top: 250px;
  }
}
