.book-animation {
  position: relative;
  height: 250px;
  margin: 1rem 0;
}

.book-animation__book {
  max-height: 250px;
  transform: translateX(-50%);
  position: absolute;
}

.book-animation__book--fade-out {
  opacity: 0;
}

@media screen and (min-width: 770px) {
  .book-animation {
    margin: 3rem 0;
    height: 400px;
  }

  .book-animation__book {
    max-height: 400px;
  }
}
