/* Styles for the images */

.about__figure {
  max-height: 250px;
  max-width: 40vw;
  position: fixed;
  bottom: 0;
}

.about__figure--left {
  left: 0;
  bottom: 12%;
  transform: translateX(-50%);
}

.about__figure--right {
  right: 0;
  bottom: 12%;
  transform: translateX(50%);
}

@media screen and (min-width: 420px) {
  .about__figure {
    max-height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .about__figure {
    max-height: 450px;
  }

  .about__figure--left,
  .about__figure--right {
    bottom: 5%;
  }
}

@media screen and (min-width: 1400px) {

  .about__figure--left,
  .about__figure--right {
    transform: translateX(0);
  }
}

@media screen and (min-width: 1700px) {
  .about__figure--left {
    left: 50px
  }

  .about__figure--right {
    right: 50px
  }
}

.space-filler {
  height: 200px;
}
