.selected-age__image {
  height: 120px;
  align-self: center;
  margin-top: 1rem;
}

.selected-age__age {
  font-size: x-large;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 600;
  color: #D35F5F;
  align-self: center;
}

.center {
  align-self: center;
}

.topics-list {
  gap: 2rem
}
