@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  position: relative;
}

.link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 70%;
}

.back {
  color: black;
  text-decoration: none;
  align-self: start;
  display: flex;
}

@media screen and (min-width: 770px) {

  .link:hover,
  .link:focus {
    color: white;

  }

  .link:active {
    color: white;
  }
}

/* General content styles */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  scroll-margin-top: 100px;
  padding: 0 15%;
  margin: 15% 0;
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-section__text {
  font-family: 'Alumni Sans', sans-serif;
  font-size: large;
  text-align: justify;
  margin: 0.5rem 0;
  animation: fade-in-on-scroll linear both;
  animation-timeline: view();
  animation-range: entry-crossing 25% cover 40%;
}

@keyframes fade-in-on-scroll {
  0% {
    opacity: 0;
    transform: scale(0.8)
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: scale(1)
  }
}

.content-section__underline {
  border-bottom: 1px solid black;
  width: 80%;
}

@media screen and (min-width: 770px) {
  .container {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
  }

  .content-section {
    max-width: 800px;
  }

  .content-section__text {
    font-size: x-large;
  }

  .content-section__underline {
    border-bottom: 1px solid black;
    max-width: 550px;
    margin: 2rem 0
  }
}
