.practice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 15% 0;
  padding: 0 5%;
}

.practice__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ages {
  align-items: end;
  width: 100%;
}

.practice__section p {
  font-family: 'Alumni Sans', sans-serif;
  font-size: large;
  text-align: justify;
  margin: 0.5rem 0;
}

.practice__section h1 {
  font-size: x-large;
  font-family: 'Alumni Sans', sans-serif;
  font-weight: 600;
}


@media screen and (min-width: 550px) {
  .ages {
    align-items: center;
  }

  .practice__section h1 {
    font-size: xx-large;
    align-self: start;
    margin-top: 3rem;
  }
}

@media screen and (min-width: 770px) {
  .practice {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 80px;
  }

  .practice__section {
    max-width: 800px;
  }

  .practice__section p {
    font-size: x-large;
  }
}
