.topic-option {
  color: #D35F5F;
  border: 1px solid #D35F5F;
  border-radius: 7px;
  background: white;
  box-shadow: 3px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #D35F5F;
  font-family: 'Bebas Neue', sans-serif;
  width: 100%;
  max-width: 500px;
  font-size: x-large;
  text-align: left;
  padding: 1rem 0.5rem;
  color: #D35F5F;
  letter-spacing: 1px;
  cursor: pointer;
}

.topic-option__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}

@media screen and (min-width: 770px) {
  .topic-option {
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .topic-option {
    border: none;
  }

  .topic-option:hover,
  .topic-option:focus {
    color: white;
    background: #D35F5F;
  }

  .topic-option:active {
    color: white;
    background: black;
    border: 1px solid black;
  }
}
