@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100;200;300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');

/* Styles for the intro part of homepage */

.intro {
  position: relative;
  width: 100%;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.intro__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.intro__heading {
  margin: 0;
  font-family: 'Bebas Neue', sans-serif;
  font-size: large;
  font-weight: 300;
  margin-bottom: 0.5rem;
  transform: scale(1.3);
}

.intro__underline {
  border-bottom: 1px solid black;
  width: 40%;
  transform: scale(1.3);
}

.intro__description {
  width: 70%;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Alumni Sans', sans-serif;
  font-size: large
}

.intro-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 420px) {

  .intro__info {
    margin-top: 20%;
    width: 60%;
  }
}

@media screen and (min-width: 620px) {

  .intro__info {
    margin-top: 0
  }

  .intro__heading {
    font-size: xx-large;
  }

  .intro__description {
    font-size: x-large
  }
}

@media screen and (min-width: 1024px) {
  .intro__info {
    margin-top: 0;
    max-width: 768px;
  }

  .intro__underline {
    margin: 1rem 0
  }

  .intro__description {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 1300px) {
  .intro-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
}


/* Styles for the conversation theory part of homepage */

.tips-list {
  padding: 0;
  margin-top: 0;
}

.tips-list__tip {
  list-style-type: none;
}

.tips-list__heading {
  color: #D35F5F;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem;
  animation: fade-in-on-scroll linear;
  animation-timeline: view();
  animation-range: entry-crossing 20% cover 30%;
}
